---
import BaseLayout from '../layouts/BaseLayout.astro';
import Greeting from '../components/Greeting';

const pageTitle = "Home Page";
---
<BaseLayout pageTitle={pageTitle}>
  <h2>My awesome blog subtitle</h2>

  <!-- <Greeting messages={["Hi", "Hello", "Howdy", "Hey there"]} /> -->

  <!-- hydrated component. -->
  <Greeting client:load messages={["Hej", "Hallo", "Hola", "Habari"]} /> 


  <!-- client:visible, for example, will only send the component’s JavaScript when it is visible on the page. -->

</BaseLayout>